.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.navItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.active {
  background: #ba1654;
  border-radius: 8px;
  color: #f5f5f5;
}
