.booking {
  padding: 28px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pageContent {
  background: #181819;
  padding: 20px 16px;
  border-radius: 12px;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.applyButton {
  padding: 10px 32px;
  border: 1px solid #cd1e5f;
  font-size: 12px;
  line-height: 18px;
  height: 40px;
  color: #9f9f9f;
}

.filterButton {
  padding: 10px 16px;
}
