.booking {
  padding: 28px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pageContent {
  background: #181819;
  padding: 20px 16px;
}

.dropButton {
  color: #9f9f9f;
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #444;
  padding: 10px 12px;
}
