.sideNav {
  height: 100vh;
  background: #181819;
  color: #838793;
  padding: 28px 16px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  position: fixed; /* <=== THIS makes it sticky */
  top: 0;
  left: 0;
  z-index: 1000;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 150px;
  height: 30px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
