.dropButton {
  color: #9f9f9f;
  width: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #444;
  padding: 10px 12px;
  font-size: 12px;
  line-height: 18px;
  height: 40px;
}
