.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #f5f5f5;
}
